:root {
  --color-white: #fff;
  --color-main: #343c8f;
  --color-black: #2a2a2a;
  --color-dark: #1c1d20;
  --color-gray: #f7f2f2;
  --color-gray-20: #f2f2f2;
  --color-gray-50: #ededed;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #9c9c9c;
  --color-gray-300: #ececec;
  --color-gray-400: #5a5a5a;
  --color-red: #cf4f44;
  --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}
